.idea/
__pycache__/
data/
testing_Images/
training_images/
model-01.h5
model-02.h5
model-03.h5
model-04.h5
model-05.h5
model-06.h5
model-07.h5
model-08.h5
model-09.h5
model-10.h5
validation_data-20191204T183555Z-001.zip
